@import url("https://fonts.googleapis.com/css2?family=K2D:wght@600;800&family=Righteous&display=swap");

::selection {
  background-color: #9b2a359c;
  color: #edd5d7;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
  appearance: none;
}

a {
  text-decoration: none;
}

body {
  background-color: #191919;
}
