@import url(global.css);
@import url(footer.css);
@import url(bg.css);

.container {
  display: grid;
  justify-content: center;
  width: 100%;
  height: auto;
  background-color: #191919;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  background-attachment: fixed;
  position: relative;
  padding: 40px 0px 0px 0px;
  overflow: hidden;
}

.logo {
  justify-self: center;
  margin: 0px 0px 20px 0px;
  z-index: 2;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.destaque {
  background: linear-gradient(180deg, #e51c3e 0%, #fd3440 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

h1,
h4 {
  text-align: center;
  justify-self: center;
}

h1 {
  font-family: "Righteous";
  font-style: normal;
  font-weight: 400;
  font-size: 33px;
  letter-spacing: 0.01em;
  color: #edd5d7;
  z-index: 2;
}

h4 {
  font-family: "K2D";
  font-weight: 600;
  font-size: 17px;
  letter-spacing: 0.01em;
  color: #ab9a9b;
  z-index: 2;
  margin: 5px 0 0 0;
}
.cicle {
  position: absolute;
  z-index: 1;
  animation: girar 25s linear infinite;
}

.links {
  margin: 45px 0px 0px 0px;
  width: 100%;
  display: grid;
  justify-content: center;
  list-style: none;
  z-index: 2;
  gap: 40px;
}

.box {
  z-index: 2;
  width: 300px;
  height: 75px;
  background: rgba(217, 217, 217, 0.4);
  border-left: 4px solid rgba(31, 25, 25, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box h3 {
  margin: 0 0 0 25px;
  font-family: "K2D";
  font-weight: 600;
  font-size: 30px;
  letter-spacing: 0.01em;
  color: #1f1919;
}

.circulo-maior {
  margin: 0 25px 0 0;
  height: 30px;
  width: 30px;
  border: 3px solid #932329;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circulo-menor {
  height: 16px;
  width: 16px;
  display: inline-block;
  border: 2px solid rgba(31, 25, 25, 0.6);
  border-radius: 50%;
  transition: all 0.2s;
}

.box:hover .circulo-menor {
  background-color: #932329;
}

@keyframes girar {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
